language: java
jdk: oraclejdk8
notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
     - secure: X2iC2C3L57tKpgp+5yHIESiFh4K65Bu1yjPFkr681u/9TA6qA0MVzZATMBu7LeprUrifvDqXm0XJ21LyhjIyWlnjQpfELubrisG+pKE/AyN+PLH8WUjpjyvlGXAMW4EUWvQ7+UCZBpjHG7Bw+83z3StckTxx+OMN/iD0kbxW0cy6bRjBTKBUJvgbcc0sCtjazFYye+hj/s0vnTuuuWEUaBUKT77wM1BldFh9l3HvxbPEu0Yf5DYh2sK+WhJTNPSFn5nYzecBfk+87u+mNQWWbMdJ589E7m2HpVBQ2954eVFE6qD3wkiSsNJuSzfnuBNKc0N7Da85uqB9GLh3Eyz4XP+oZWVaYHYtIw8SmE1j6nY+i8Eg4RR+psEzXX4XV3z46NajcLc4T4MQ9wCxxvtehOJAVPKbDGHnXEJl8pNY8cBfQrypfLRkFgd58JCaVC1aE7gPI6gi7ds1XALvG/m5TMOcrI3hEq5O7Ra2znLAL4LeeM2oGJkxN+it3G7hGTHrc2Ir7B7Tmt3yaNBvZ6bbv130tBr7hGItvqznknTXuz9kmfrzmfR1yk66zoPkCiDdQXQZxttpE2O+w9Xn0eGc+zbxaRsO+F9t1EAZLtL62SZzwHnMIPGOthbwdXI1JPG75ig6tonS98gr4VFZZo461wXMvW5Yz2iM0g/a1///0zs=
